spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cbt?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000
logging:
  level:
    org.hibernate.SQL: debug
